
main {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    display: flex;
    flex-direction: column;
}
img{
    margin-top: 15px;
    max-width: 250px;
    max-height: 150px;
}

.cursos {
    padding: 10px;
    
}

.cursos ul {
    text-align: center;
}

.cursos li {
    padding: 8px;
    list-style: none;
}