

body {
    background-image: url("/imagens/Cópia\ de\ logo\ em\ branco\ \(positivo\).png");
    display: flex;
    flex-direction: column;
}
main {
    min-height: 600px;
    display: flex;
    justify-content: center;
}

section {
    margin: 5px;
}


.cursos {
    padding: 10px;
    
}

.cursos ul {
    text-align: center;
}

.cursos li {
    padding: 1px;
    list-style: none;
}

footer {
    padding: 5px;
}

.atividade {
    background: #3B72CC;
    font-size: 18px;
    cursor: pointer;
    color: aliceblue;
    height: 30px;
}

.containInfo{
    background: #3b73cc91;
    display: flex;
    justify-content: center;
}

.off{
    display: none;
}

@media (max-width:400px){
   main {
       display: flex;
       flex-direction: column;
   }
}

h2, h3 {
    text-align: center;
    color: #FF2B48;
}

table {
    margin: 5px;
    border-collapse: collapse;
}

td {
    border: 2px dotted rgba(255, 0, 0, 0.479);
    padding: 8px;
}

button {
    width: max-content;
    background-image: linear-gradient(#3B72CC, #032357);
    margin: auto auto 20px auto;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.658) 4px 2px;
    
}

button a {
    color: antiquewhite;
}

button a:hover {
    text-decoration: none;
    color:  rgba(255, 0, 0, 0.479);
    
}

button:hover{
    background-image: linear-gradient(#03235785,#3B72CC);
}



.containGroupOfAtctives {
    margin: 10px;
    border: 2px solid rgba(255, 0, 0, 0.479);
    padding: 5px;
}

p {
    margin: 10px;
}