main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgTutorial {
    margin: 25px;
    width: 70vw;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style: none;
}

.icons-footer img {
    width: 24px;
    height: 24px;
}

a {
    width: 24px;
    height: 24px;
}