* {
    padding: 0px;
    margin: 0px;

}

                                                        /* Header */

header {
    display: flex;
    background: #3B72CC;
    height: 20vh;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
}

#header-logo {
    width: 141px;
    height: 63px;
    padding-left: 124px;
}

nav a {
    color: azure;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 57PX;
}

a:hover {
   text-decoration: underline #FF2B48;
   text-underline-position: under;
   text-decoration-thickness: 5px;
}

#header-icons img {
    padding: 26px;
}

                                            /* Main */ 

#painel {
    background: url('imagens/painel.png') no-repeat;
    background-size: cover;
    height: 75vh;
    
}

#button__doacao{
    padding: 10px 40px;
    border-radius: 15px;
    background: #59D663;
    border-style: none;
    margin: 30% 5% 5% 80%;
    font-size: 15px;
    color: #FF2B48;
}

#button__doacao:hover{
    background: #FFD432;
    cursor: pointer;
}